<h1>Admin::Dashboard</h1>

<div>
  <h3>Count of products: <span class="badge bg-secondary"><%= @products.count %></span></h3>
  <h3>Count of <a href="<%= admin_products_path %>" > catergories</a>: <span class="badge bg-secondary"><%= @categories.count %></span></h3>
</div>
